<div class="heading">Snake & Ladder Game</div>

<div class="container">
    <!-- <div class="row">
      <h1>{{title}}</h1>
    </div> -->
    <div class="row">

        <div class="col-md-4">
            <app-players (gotop1)="val1=$event" (gotop2)="val2=$event"></app-players>
        </div>
      <div class="col-md-8">
        <table id="myTable">
          <div class="grid-container">
              <ng-container *ngFor="let row of board">
              <ng-container *ngFor="let num of row" >
                  <div [class.snake]="snakeornot(num)" [class.ladder]="ladderornot(num)" [class.player1]="playerornot1(num)" [class.player2]="playerornot2(num)"><div class="grid-item" >{{num}}</div></div>
              </ng-container>
              </ng-container>
            </div>
          </table>
      </div>
    </div>
  </div>